<% include template/header %>
<table width="80%" height="60%" align="center" cellspacing="0" cellpadding="10" border="1" bgcolor="white">
	<tr bgcolor="white" align="center">
	     <td heaight="200" colspan="3">
            <table align="center" border="1" width="80%" height="100%" cellpadding="40">
                <tr>
                    <td height="100%" align="center">
                        <font size="4">
                        <p><h3> Balck Listed Medicines</h3></p>
                       
                            <li><i>Paracitamol</<i></li>
                            <li><i>Paracipairol</<i></li>
                            <li><i>Dosulepin</i></li>
                            <li><i>lutein</i></li>
                    </ul>
                </font>
                    </td>
                </tr>
            </table>
    </td>
  </tr>
  <tr><td>
  	<font size="4"><a href="home">Back</a></font>
  </td></tr>
</table>
<% include template/footer %>
