<% include template/user_header %>
<table width="80%" height = "100%" align="center" cellspacing="1" cellpadding="10" border="1" bgcolor="white">
 <tr>
    <td width="200" valign="top">
    	<font size="4">
    	<ul>
    	<li><a href="../medical_news.html" target="contentFrame"><label>Medical News</label></a></li><br>
        <li><a href="medicine_list_buy" target="contentFrame"><label>Medicine List</label></a></li><br>
        <li><a href="../healthTips.html" target="contentFrame"><label>Health Tips</label></a></li><br>
        <li><a href="../Black_Listed_Medicines.html" target="contentFrame"><label>Black Listed Drugs</label></a></li><br>
        <li><a href="../Blood_Bank.html" target="contentFrame"><label>Blood Bank</label></a></li><br>
        <li><a href="other_products.html" target="contentFrame"><label>Other Products</label></a></li>
    	</ul>
    </font>
    </td>
    <td>
    	<fieldset>
	    <legend><b>CHANGE PASSWORD</b></legend>
	    <br/>
	    <form method="post" action="/settings/edit_password/<%=name%>">
	        <table width="100%" cellpadding="0" cellspacing="0">
	            <tr>
	                <td width="150"></td>
	                <td width="10"></td>
	                <td width="150"></td>
	                <td></td>
	            </tr>
	            <tr>
	                <td><font size="3"> Password</font></td>
					<td>:</td>
	                <td><input name="password" type="password" value="<%= data[0].password %>"/></td>
	                <td></td>
	            </tr>
	            <tr><td colspan="4"><hr/></td></tr>
	            <tr>
	                <td><font size="3" color="green">New Password</font></td>
					<td>:</td>
	                <td><input name="new_password" type="password" /></td>
	                <td></td>
	            </tr>
	            <tr><td colspan="4"><hr/></td></tr>
	            <tr>
	                <td><font size="3" color="red">Retype New Password</font></td>
					<td>:</td>
	                <td><input type="password" /></td>
	                <td></td>
	            </tr>
	        </table>
	        <hr />
	        <input type="submit" value="Update" />
	        <br> Back to <a href="settings">Settings</a>
	    </form>
	</fieldset>
    </td>
</tr>
</table>
