<table width="80%" height = "100%" align="center" cellspacing="5" cellpadding="10" border="1" bgcolor="white">
 <tr>
        <td width="200" valign="top">
        	<font size="4">
        	<ul>
        	<li><a href="admin_home" target="contentFrame">Dashboard</a></li><br><br>
            <li><a href="add_medicine" target="contentFrame"><label>Add Medicines</label></a></li><br><br>
            <li><a href="medicines" target="contentFrame"><label>Retrieve Medicines</label></a></li><br>
            </ul>
        </font>
        </td>