        <td>
            <a href="top_medicine">
            <table border="1" cellspacing="0" cellpadding="7" width="250" height="130">
                <tr>
                    <td>Top Medicine</td>
                </tr>
                <tr>
                    <td><b># Sorted by Selling unit</b></td>
                </tr>
            </table></a><hr>
        </td>
        <td>
            <a href="top_user">
            <table border="1" cellspacing="0" cellpadding="7" width="250" height="130">
                <tr>
                    <td>Top User</td>
                </tr>
                <tr>
                    <td><b># Sorted by their buying</b></td>
                </tr>
            </table></a><hr>
        </td>
    </tr>
</table>