<html>
<body>
	<center>
	<table width="70%" height="20%" align="center" cellspacing="0" cellpadding="10" border="0" bgcolor="white">	
		<tr>
			<td align="center" height="30">
				Copyright &copy; 2017
			</td>
		</tr>
	</table>
	</center>
</body>
</html>