<html>
<body>
	<center>
	<table width="80%" height="50%" align="center" cellspacing="0" cellpadding="10" border="1" bgcolor="white">
	  <tr bgcolor="white">
		<td height="90" colspan="3">
			<div align="left" valign="center">
			<font size="4">
				<a href="home" target="contentFrame">Home</a> |
				<a href="login" target="contentFrame">Login</a> |
				<a href="registration" target="contentFrame">Registration</a> |
				<a href="/" target="contentFrame">Search</a>
			</font>
		</div>
		</td>
		</tr>
		<tr>
		<td align="center" colspan="3" height="60%">
		  <img src="images/Capture.png" align="middle" alt="SHEBA" width="270" height="200">
		</td>
		</tr>
	<!-- </table>
	</html> -->