<html>
<body>
	<center>
	<table width="70%" height="50%" align="center" cellspacing="0" cellpadding="10" border="0" bgcolor="white">
	  <tr bgcolor="white">
		<td height="90" colspan="3">
			<div align="left" valign="center">
			<font size="4">
				<a href="interface.html" target="contentFrame">Home</a> |
				<a href="app/Login.php" target="contentFrame">Login</a> |
				<a href="app/userReg.php" target="contentFrame">Registration</a> |
				<a href="app/search.php" target="contentFrame">Search</a>
			</font>
		</div>
		</td>
		</tr>
		<tr>
		<td align="center" colspan="3" height="20%">
		  <img src="Capture.png" align="middle" alt="SHEBA" width="250" height="170">
		</td>
		</tr>
	</table>
</html>