<table width="80%" height = "60%" align="center" cellspacing="5" cellpadding="5" border="1" bgcolor="white">
  <tr>
    <td>
      <a href="medical_news">
      <table width="100" height="100" align="center">
        <tr>
          <td>
            <img src="images/mn.png" align="middle" alt="SHEBA" width="100" height="100">
          </td>
        </tr>
        <tr>
          <td>
            <b>Medical News</b>
          </td>
        </tr>
      </table></a>
    </td>
    <td>
       <a href="black_meds">
      <table width="100" height="100" align="center">
        <tr>
          <td>
            <img src="images/black_drugs.jpg" align="middle" alt="SHEBA" width="100" height="100">
          </td>
        </tr>
        <tr>
          <td>
            <b>Black Listed Drugs</b>
          </td>
        </tr>
      </table></a>
    </td>
  </tr>
</table>
