<table width="80%" height = "100%" align="center" cellspacing="1" cellpadding="10" border="1" bgcolor="white">
 <tr>
    <td width="200" valign="top">
    	<font size="4">
    	<ul>
    	<li><a href="../medical_news.html" target="contentFrame"><label>Medical News</label></a></li><br>
        <li><a href="medicine_list_buy" target="contentFrame"><label>Medicine List</label></a></li><br>
        <li><a href="../healthTips.html" target="contentFrame"><label>Health Tips</label></a></li><br>
        <li><a href="../Black_Listed_Medicines.html" target="contentFrame"><label>Black Listed Drugs</label></a></li><br>
        <li><a href="../Blood_Bank.html" target="contentFrame"><label>Blood Bank</label></a></li><br>
        <li><a href="other_products.html" target="contentFrame"><label>Other Products</label></a></li>
    	</ul>
    </font>
    </td>
    <td >
        <h1 align="center">Welcome to our site</h1>
    </td>
</tr>
</table>